{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "indent": "off",
    "no-multi-spaces": "off",
    "no-trailing-spaces": "off",
    "max-len": [1, 120, 2, {
      "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true
    }],
    "no-tabs": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
